<div class="wrapper">
    <center> <a href="/index.html">
            <div class="site-title"> {{site.title}} </div>
        </a></center>
</div>
<div class="wrapper site-description">
    <center> {{site.description}} </center>
</div>

<div class="wrapper">
    <div class="site-category">
        <ul class='cat1'>
            <li><a href="/">HOME</a></li>
            <li><a class="exclamationMark">/</a></li>
            <li><a href="/PROJECTS">PROJECTS</a>
                <ul>
                    <li><a href="/PROJECTS/VR">VR</a></li>
                </ul>
            </li>
            <li><a class="exclamationMark">/</a></li>
            <li><a href="/ALGORITHM">ALGORITHM</a>
                <ul>
                    <li><a href="/ALGORITHM/PROGRAMMERS">PROGRAMMERS</a></li>
                </ul>
            </li>
            <li><a class="exclamationMark">/</a></li>
            <li><a href="/UNREAL">UNREAL</a>
                <ul>
                    <li><a href="/UNREAL/LDW_CPLUS">LDW_CPLUS</a></li>
                    <li><a href="/UNREAL/OCULUS">OCULUS</a></li>
                    <li><a href="/UNREAL/GENERAL">GENERAL</a></li>
                </ul>
            </li>
            <li><a class="exclamationMark">/</a></li>
            <li><a href="/STUDY">STUDY</a>
                <ul>
                    <li><a href="/STUDY/42_SEOUL">42_SEOUL</a></li>
                    <li><a href="/STUDY/GPP">게임프로그래밍패턴</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
