// Post listing
.category-title {
  clear:left;
  padding-top: $padding-small*2;
  text-align:left;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-indent: 3px;
  font-size: 18px;
}
.c-posts-list {
  clear:left;
  padding-bottom: $padding-small*1.5;
  li{
    a{
      font-weight: bold;
    }
  }
}
