// Post listing
.category-title {
  padding-top: $padding-small*2;
  margin-bottom: -2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-indent: 2px;
  font-family: "PT Sans";
  font-size: 12px;
  text-align:center;
}

.c-posts-list {
  padding-bottom: $padding-small*1.5;
  li{
    a{
      font-weight: bold;
    }
  }
}

.c-postContent {
  padding-top: 1.5em;
  font-size: 14px;
  text-align: center;
}
